[Oo]bj/
[Bb]in/
.vs/
logs/
doc/
/src/xschool/GCenter/XSchool.GCenter.WebApi/Properties/PublishProfiles
/xweb
/xsui
/src/xschool/WorkFlow/XSchool.WorkFlow.WebApi/Properties/PublishProfiles
/src/xschool/GCenter/XSchool.GCenter.WebApi/XSchool.GCenter.WebApi.csproj.user
/src/xschool/WorkFlow/XSchool.WorkFlow.WebApi/XSchool.WorkFlow.WebApi.csproj.user
